{% extends 'base.html' %}



{% block title %} {{ block.super }}{{ products.name_product }} {% endblock %}

{% block content %}
<div class="container text-center">
  <div class="row">
    <div class="col">
          <div class="shadow-lg p-3 mb-5 bg-body-tertiary">
              <div class="container text-center">
                <div class="row">
                    <div class="col">
                    <img src="{{ product.imag_product.url }}" alt="Your Image">
                    </div>
                <div class="col">
                    <h3>{{ products.name_product }}</h3>
                    <p>{{ products.company }}</p>
                    <p>{{ products.price }} تومان</p>
                    <p>{{ products.many }}</p>
                    {% csrf_token %}
                    <a type="submit" class="btn btn-outline-success" href="{% url 'add_to_cart' products.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"></path>
                        </svg>

                    </a>
                    <a type="submit" class="btn btn-outline-danger" href="{% url 'remove_from_cart' products.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-square-fill" viewBox="0 0 16 16">
                          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm2.5 7.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1"></path>
                        </svg>
                    </a>

                </div>
              </div>
              <hr>
                  <h3>توضیحات</h3>
                  <p>{{ products.details }}</p>
              <hr>
                  <h3>دسته بندی محصول</h3>
                  {% for i in products.category.values.all.values %}
                      <a class="shadow-lg p-2 mt-5 bg-body-tertiary rounded pd">{{ i.name_category }}</a>
                  {% endfor %}
              <hr>
                  <h3>توضیحات فروشنده</h3>
                  <p>{{ products.company.details }}</p>
                  <a>راه ارتباطی با فروشنده: {{ products.company.email }}</a>
          </div>
        </div>
    </div>
  </div>
</div>

{% show_item_list %}


{% endblock %}