:root{
    background-color: #08D9D6!important;
}

body {
   background-color: #08D9D6!important;
}

.product {
        margin-right: 55%;
        margin-left: 1px;
        padding: 2px;
}

.col-style{
        margin-top: 10%;
}
.set-color{
    background-color: #EAEAEA;
    }

.font-color{
    color: #EAEAEA;
}
