{% extends 'base.html' %}

{% block title %} {{ block.super }} change password {% endblock %}

{% block content %}
    <h2>Change Password</h2>
    <br>
    <form method="post" id="change-password-form">
        {% csrf_token %}
        <label for="id_old_password">Old Password:</label><br>
        <input type="password" id="id_old_password" name="old_password"><br>
        <label for="id_new_password">New Password:</label><br>
        <input type="password" id="id_new_password" name="new_password"><br>
        <label for="id_confirm_new_password">Confirm New Password:</label><br>
        <input type="password" id="id_confirm_new_password" name="confirm_new_password"><br>
        <button type="submit">Change Password</button>
    </form>
    <div id="message" style="color: red;"></div>
{% endblock %}


