{% extends 'base.html' %}
{% load static %}

{% block title %} {{ block.super }} {{ _('مشتریان') }} {% endblock %}

{% block content %}
    <div class="row">
        <h1>{{ _('سلام') }} {{ user.full_name }}</h1>
        {% if user.address == None %}
            <div class="col-12 bg-danger text-center p-3 m-2">
                {{ _('لطفا اطلاعات خود را تکمیل کنید') }}
            </div>
        {% endif %}
        <div class="col-3 shadow-lg p-3 m-2 bg-body-tertiary rounded">

            <p class="mt-3" id="userName">{{ _('اسم کامل') }}: {{ user.full_name }}</p>
            <input type="text" class="form-control" id="inputUserName" placeholder="{{ _('نام کاربری') }}">
            <hr>
            <p class="mt-3" id="email">{{ _('ایمیل') }}: {{ user.email }}</p>
            <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com">
            <hr>
            <p class="mt-3" id="address">{{ _('آدرس') }}: {{ user.address }}</p>
            <input type="text" class="form-control" id="inputAddress" placeholder="{{ _('تهران، لویزان،مینی سیتی') }}">
            <hr>
            <p class="mt-3" id="phoneNumber">{{ _('شماره تلفن') }}: {{ user.phone_number }}</p>
            <input type="email" class="form-control" id="inputPhoneNumber" placeholder="09123465789">
            <hr>

            <a id="btnEditProfile" type="button" class="btn btn-outline-success mt-3"
               onclick="getDataUser({{ user.id }})">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                    <path fill-rule="evenodd"
                          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"></path>
                </svg>
                {{ _('ویرایش اطلاعات') }}
            </a>
            <button type="button" class="btn btn-success mt-3" id="btnSave" onclick="saveForm({{ user.id }})">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-check-square-fill" viewBox="0 0 16 16">
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"></path>
                </svg>
                {{ _('ثبت') }}
            </button>

        </div>

        <div class="col-md-8 shadow-lg p-5 bg-body-tertiary rounded">
            <h3>{{ _('لیست سفارش ها') }}</h3>
        </div>


    </div>
{% endblock %}

{% block script %}
    <script src="{% static "User/read-api.js" %}"></script>
{% endblock %}