{% extends 'base.html' %}

{% block title %}{{ block.super }} {{ _("فراموشی رمز") }} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10 col-md-offset-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ _("فراموشی رمز") }}</h3>
                    </div>
                    <div class="panel-body">
                        {% if user.is_authenticated %}
                            <h2 class="error">{{ _('شما وارد شده اید') }}</h2>
                        {% else %}
                        <h2>{{ _("فراموشی رمز") }}</h2>
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit">{{ _("تغییر رمز") }}</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>
{% endblock %}