{% extends 'base.html' %}

{% block title %} {{ block.super }} {{ _('تایید ایمیل') }} {% endblock %}

{% block content %}
    <div class="container font-color">
      <h2 style="margin-top: 10px">
            {{ _('ارسال ایمیل تایید از پشتیبانی') }}
      </h2>
      <form method="POST" action="{% url 'verify_code' %}">
        {% csrf_token %}
        {{ form.code }}

        <h5 style="color: red">{{ message }}</h5>
            <button  type="submit" class="btn btn-success">{{ _('تایید کردن') }}</button>

      </form>
    </div>
{% endblock %}